$touch-target-size: 28px;
$checkbox-size: 24px;
$input-offset: ($touch-target-size - $checkbox-size) / 2;
$pseudo-offset: $touch-target-size - $input-offset;

.x-govuk-checkbox {
  @include govuk-font($size: 19);
  display: inline-block;
  padding-left: $pseudo-offset + govuk-spacing(1);
  position: relative;
}

.x-govuk-checkbox__input {
  left: $input-offset * -1;
  height: $touch-target-size;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: $input-offset * -1;
  width: $touch-target-size;
  z-index: 1;
}

.x-govuk-checkbox__pseudo {
  display: inline-block;
}

// [ ] Check box
.x-govuk-checkbox__pseudo:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: $input-offset - $govuk-border-width-form-element;
  left: 0;
  width: $checkbox-size;
  height: $checkbox-size;
  border: $govuk-border-width-form-element solid currentcolor;
  background: transparent;
  opacity: .5;
}

// ✔ Check mark
//
// Box with a border on the left and bottom side (└──), rotated 45 degrees
.x-govuk-checkbox__pseudo:after {
  content: "";
  background: transparent;
  border: solid;
  border-top-color: transparent;
  border-width: 0 0 3px 3px;
  box-sizing: border-box;
  height: 6.5px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

// [✔] Checked state
.x-govuk-checkbox__input:checked + .x-govuk-checkbox__pseudo:after {
  opacity: .5;
}
